#careersParallax {
    background-image: url("parallax.jpg");

    height: 40vw; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

#careersLeftTriangle {
    width: 0;
	height: 0;
	border-bottom: 40vw solid rgb(197, 197, 197);
    border-right: 40vw solid transparent;
    float: left;
}

#careersLeftTriangleSmall {
    width: 0;
	height: 0;
	border-bottom: 30vw solid rgb(221, 221, 221);
    border-right: 30vw solid transparent;
    float: left;
}

#careersLeftTriangleSmallest {
    width: 0;
	height: 0;
	border-bottom: 20vw solid rgb(240, 240, 240);
    border-right: 20vw solid transparent;
    float: left;
}

#careersRightTriangle {
    width: 0;
	height: 0;
	border-top: 20vw solid rgb(197, 197, 197);
    border-left: 20vw solid transparent;
    float: right;
}

.careersParallaxTitle {
    margin: 0;
    padding: 10vw;
    padding-left: 30vw;
    color: rgb(22, 22, 22);
    font-family: 'Muli', sans-serif;
    font-size: 8vw;
}

.careersBreaker {
    width: 100%;
    height: 20vw;
    background-color: rgb(197, 197, 197);
}

.careersBreakerContent {
    padding-top: 9vw;
    margin: 0;
    text-align: center;
    font-family: 'Mina', sans-serif;
    font-weight: bold;
    font-size: 2.5vw;
    color: rgb(22, 22, 22);
}
