#newsParallax {
    background-image: url("parallax.jpg");

    height: 40vw; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

#newsRightTriangle {
    width: 0;
	height: 0;
	border-top: 40vw solid rgb(14, 0, 200);
    border-left: 40vw solid transparent;
    float: right;
}

#newsRightTriangleSmall {
    width: 0;
	height: 0;
	border-top: 30vw solid rgb(10, 0, 150);
    border-left: 30vw solid transparent;
    float: right;
    margin-top: -40vw;
}

#newsRightTriangleSmallest {
    width: 0;
	height: 0;
	border-top: 20vw solid rgb(7, 0, 100);
    border-left: 20vw solid transparent;
    float: right;
    margin-top: -30vw;
}

#newsLeftTriangle {
    width: 0;
	height: 0;
	border-bottom: 20vw solid rgb(7, 0, 100);
    border-right: 20vw solid transparent;
    float: left;
    margin-top: 20vw;
}

.newsParallaxTitle {
    margin: 0;
    padding: 10vw;
    color: rgb(7, 0, 100);
    font-family: 'Muli', sans-serif;
    font-size: 8vw;
}

.newsBreaker {
    width: 100%;
    height: 40vw;
    background-color: rgb(7, 0, 100);
}

.newsImageLeft {
    max-width: 40%;
    float: left;
}

.newsImageRight {
    max-width: 40%;
    float: right;
}

.newsArticleOuter {
    clear: both;
}









